@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

div#gameContainer{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid gray;
    border-radius: 20px;
}

h1#title{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    text-align: center;
    text-shadow: 3px 3px 5px gray;
}

div#optionContainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* border: 1px solid gray; */
    /* background-color: rgb(192, 161, 136); */
}

.option{
    display: block;
    background-color: white;
}
.optionFirstRow{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.optionSecondRow{
    margin: 0px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

button#holdButton{ 
    grid-column: 1; grid-row: 1 / span 2; 
    margin: 10px;
    cursor: pointer;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 15px;
    box-shadow: 0px 5px rgb(197, 197, 197);
}

button#currItemButton{ 
    grid-column: 2; grid-row: 1 / span 2; 
    border: none;
}

div#points{ 
    grid-column: 3; grid-row: 2; 
}

button#newGameButton{ 
    grid-column: 4; grid-row: 3;
    margin: 10px;
    cursor: pointer;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 15px;
    box-shadow: 0px 5px rgb(197, 197, 197);
}

div#holdButtonText{ grid-column: 1; grid-row: 3; }

div#currItemText{ grid-column: 2; grid-row: 3; }

div#pointsText{ grid-column: 3; grid-row: 3; }

div#newGameText{ grid-column: 4; grid-row: 3; }

div#blockContainer{
    position: absolute;
    display: grid;
    text-align: center;
}

div.block{
    border: 1px solid black;
}

div.block:hover{
    border: 1px solid black;
    background-color: rgba(197, 197, 197, 0.562);
}

div.block > img{
    margin-top: 4px;
}