@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

div#gameContainer {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    border: 4px solid rgb(100, 100, 100);
    border-radius: 15px;
}

h1#title {
    /* position: relative; */
    /* margin: 30px auto; */
    height: 20%;
    font-size: 5vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

div#optionContainer {
    /* position: absolute; */
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    align-items: center; 
}

.option {
    display: grid;
    align-items: center;    /* Vertical */
    font-size: 1.6vh;
}

.optionFirstRow {
    justify-items: center; 
}

.optionSecondRow {
    text-align: center;
}

div#holdImage { grid-column: 1; grid-row: 1 / span 2; }

div#currImage { grid-column: 2; grid-row: 1 / span 2; }

div#points { grid-column: 3; grid-row: 1 / span 2; }

button#holdButton { grid-column: 1; grid-row: 3; }

div#currText { grid-column: 2; grid-row: 3; }

div#pointsText { grid-column: 3; grid-row: 3; }

button#newGameButton { grid-column: 4; grid-row: 3; }

div#holdImage, div#currImage {
    margin: 0% 10%;
    border: 1px solid rgba(144, 144, 144, 0.5);
    border-radius: 5px;
    min-height: 100%;
}

button#holdButton, button#newGameButton {
    padding: 10%;
    margin: 10%;
    cursor: pointer;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 15px;
    box-shadow: 0px 5px rgb(197, 197, 197);
    background-color: white;
}

div#blockContainer {
    /* position: absolute; */
    height: 60%;
    display: grid;
}

div.block {
    display: grid;
    align-items: center;    /* Vertical */
    justify-items: center;  /* Horizontal */
    border: 1px solid rgba(144, 144, 144, 0.5);
    border-radius: 5px;
}

div.block:hover {
    border: 1px solid rgb(144, 144, 144);
    background-color: rgba(144, 144, 144, 0.3);
}

/* div.block > img {
    margin-top: 4px;
} */